* {
    padding: 0;
    margin: 0;


}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsla(174, 87%, 85%, 0.342);
    color: black;
    


}

.form {

    border: 2px solid rgb hsl(148, 38%, 91%);
    padding: 1.5rem;
    background-color:white;

    border-radius: 15px;
     box-shadow: 2px 2px 10px rgba(234, 237, 237, 0.879);
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px
}



.name-container {
     display: flex;

    gap: 11px;

}

.input-container {

    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 16px;

}

.input-container>input {
    height: 2rem;
    width: 100%;
    border: 0.1px solid rgb(24, 21, 21);
    border-radius: 5px;
    font-size: 16px;
   /* background-color:hsl(148, 38%, 91%) */

}

.general {
    height: 2rem;
    width: 100%;
    border: 1px solid rgb(235, 224, 224);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 5px;
    /* color: hsl(242, 86%, 51%); */
    /* font-size: 16px; */
}

.btn{
    width: 100%;
    height:30px;
    border-radius: 5px;
    background-color: hsl(169, 82%, 27%);
    color: white;
    /* font-size: 16px; */
    /* font-weight: 400px; */


}
   